body {
    font-family: sans-serif;
    background-color: lightblue;
}

.cat{
    display: flex;
}
.cat img{
    width: 200px;
    height: 200px;
     padding: 10px;
    margin: 10px;
    border: 4px double black;
}
h1{
    text-align: center;
}
h1 img{
    width: 100px;
    height: 100px;
  
}
.cat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.cat img:hover{
      width: 300px;
    height: 300px;
}
